html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: white;
    margin: 0;
    background-color: #242424;
    box-sizing: border-box;
}
nav.navbar {
    display: flex;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#424242",GradientType=1);
}
nav ul.navbarList {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
nav ul.navbarList li {
    list-style: none;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul.navbarList a {
    color: white;
    text-decoration: none;
    color: #fedf00;
}
div.brand img {
    max-height: 50px;
}
ul.navbarList li.dropdownLink {
    display: none;
}
.expandNav {
    height: 175px;
}
div.headshotWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    background-color: black;
}
div.headshotWrapper img {
    height: 200px;
    max-width: 200px;
    width: 100%;
    border-radius: 100%;
    box-shadow: 1px 1px 60px 6px #fbd30d66;
}
div.headshotWrapper h1 {
    color: #fedf00;
    font-size: 3em;
    padding-top: 5px;
}
section.servicesSection {
    background-color: #242424;
    padding: 2rem 1rem;
}
section.servicesSection div.container {
    padding-left: 15%;
    padding-right: 15%;
}
div.snippetWrapper h3 {
    color: #fbd30d;
}
div.serviceContainer1, div.serviceContainer2, div.serviceContainer3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    box-shadow: 5px 5px 4px 1px #fbd30d66;
    padding: 30px;
    border-radius: 5px;
    background-color: black;
}
div.snippetWrapper {
    padding: 5% 5%;
    font-size: 1.2rem;
    width: 50%;
}
div.iconWrapper {
    display: flex;
    align-items: center;
    width: 50%;
}
img.serviceIcon {
    width: 100%;
    border-radius: 2px;
}
div.snippetInfo {
    line-height: 1.3;
}
div.quoteButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
button.quoteButton {
    color: #fbd30d;
    background-color: black;
    border-radius: 5px;
    border: none;
    font-size: 1.5em;
    padding: 1% 2%;
    box-shadow: 0px 0px 0px 1px #fbd30d;
}
button.quoteButton:hover {
    color: white;
    cursor: pointer;
    background-color: black;
    font-size: 1.6em;
    box-shadow: 0px 0px 10px 1px white;
}
section.portfolio {
    background-color: black;
    padding-top: 5%;
}
section.portfolio div.container {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
}
div.portfolioBox img {
    width: 100%;
}
div.portfolioObjects {
    border: 1px solid white;
    width: 20%;
    margin: 20px;
}
div.portfolioObjects h4, div.portfolioObjects div.projectText {
    margin: 0;
    padding: 3%;
}
div.portfolioObjects h4 {
    color: #fbd30d;
}
div.container h1 {
    margin: 0 auto;
    color: #fbd30d;
    font-size: 1.8em;
    margin-bottom: 10px;
}
div.portfolioBox:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s ease-in ease-out;   
}
section.contact {
    background-color: #e2b000;
    width: 30%;
    margin: 0 auto;
    color: black;
    padding: 2%;
    margin: 50px auto;
}
section.contact h1 {
    text-align: center;
}
label, div.formGroup {
    margin: 10px;
}
section.contact form input, textarea{
    width: 95%;
}
section.contact form button.quoteButton{
    display: block;
    margin: 0 auto;
    text-align: center;
}



/*MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
   
    div.headshotWrapper h1 {
        font-size: 2em;
    }
    section.servicesSection div.container {
        padding-left: 5%;
        padding-right: 5%;
    }
    div.serviceContainer1, div.serviceContainer2, div.serviceContainer3 {
        flex-direction: column;
    }
    div.serviceContainer2 {
        flex-direction: column-reverse;
    }
    div.snippetWrapper, div.iconWrapper {
        width: 100%;
        padding: 5px;
    }
    div.portfolioObjects {
        width: 25%;
}
}
@media only screen and (max-width: 780px) {
     nav ul.navbarList {
        display: flex;
        align-items: flex-end;
    }
    ul.navbarList li a.navLink {
        display: none;
    }
    ul.navbarList li.dropdownLink {
        display: block;
        font-size: 1.4em;
        position: absolute;
        top: 25.5px;
        right: 20px;
    }
    ul.navbarList.responsive li.dropdownLink {
        position: absolute;
        top: 25.5px;
        right: 20px;
    }
    ul.navbarList.responsive {
        flex-direction: column;   
    }
    ul.navbarList.responsive li a.navLink {
        display: block;
        margin-bottom: 8px;
    }
    ul.navbarList.responsive li {
        position: relative;
        top: 50px;
    }
    div.portfolioObjects {
        width: 100%;
    }
    div.portfolioBox:hover {
    cursor: pointer;
    transform: none;
}
}

@media screen and (max-width: 800px) {
    section.contact {
        background-color: #fbd30d;
        width: 80%;
        margin: 0 auto;
        color: black;
        padding: 2%;
        margin: 50px auto;
    }
}