html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: white;
    margin: 0;
    background-color: #242424;
}
nav.navbar {
    display: flex;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#424242",GradientType=1);
}
nav ul.navbarList {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
nav ul.navbarList li {
    list-style: none;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul.navbarList a {
    color: white;
    text-decoration: none;
    color: #fedf00;
}
div.brand img {
    max-height: 50px;
}
ul.navbarList li.dropdownLink {
    display: none;
}
.expandNav {
    height: 175px;
}

/*MEDIA QUERIES*/
@media(max-width: 768px) {
    nav ul.navbarList {
        display: flex;
        align-items: flex-end;
    }
    ul.navbarList li a.navLink {
        display: none;
    }
    ul.navbarList li.dropdownLink {
        display: block;
        font-size: 1.4em;
        position: absolute;
        top: 25.5px;
        right: 20px;
    }
    ul.navbarList.responsive li.dropdownLink {
        position: absolute;
        top: 25.5px;
        right: 20px;
    }
    ul.navbarList.responsive {
        flex-direction: column;   
    }
    ul.navbarList.responsive li a.navLink {
        display: block;
        margin-bottom: 8px;
    }
    ul.navbarList.responsive li {
        position: relative;
        top: 50px;
    }
}
